[submodule "common/vim/bundle/nerdtree"]
	path = common/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "common/vim/bundle/nerdtree-tabs"]
	path = common/vim/bundle/nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "common/vim/bundle/tagbar"]
	path = common/vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "common/vim/bundle/toogle-mouse"]
	path = common/vim/bundle/toogle-mouse
	url = https://github.com/nvie/vim-togglemouse.git
[submodule "common/vim/bundle/vim-flake8"]
	path = common/vim/bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "common/vim/bundle/OmniCppComplete"]
	path = common/vim/bundle/OmniCppComplete
	url = https://github.com/vim-scripts/OmniCppComplete
[submodule "common/vim/bundle/vim-colors-solarized"]
	path = common/vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
